name: homebrew-rpcamerainterface

on: [workflow_dispatch]

env:
  BUILD_TYPE: Release

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macOS-latest]

    steps:
    - uses: actions/checkout@v2

    - name: Install RPCameraInterface
      run: |
        brew install RandomPrototypes/tap/rpcamerainterface
        echo /usr/local/Cellar/rpcamerainterface
        ls /usr/local/Cellar/rpcamerainterface
        echo /usr/local/Cellar/rpcamerainterface/1.2.0
        ls /usr/local/Cellar/rpcamerainterface/1.2.0
        echo /usr/local/Cellar/rpcamerainterface/1.2.0/bin
        ls /usr/local/Cellar/rpcamerainterface/1.2.0/bin
        echo /usr/local/Cellar/rpcamerainterface/1.2.0/lib
        ls /usr/local/Cellar/rpcamerainterface/1.2.0/lib
        echo /usr/local/Cellar/rpcamerainterface/1.2.0/include
        ls /usr/local/Cellar/rpcamerainterface/1.2.0/include
        /usr/local/Cellar/rpcamerainterface/1.2.0/bin/RPCameraInterfaceDemo
